<div class="grid-container">
  <div class="grid-item">
    <h2 class="grid-header">PR Title</h2>
    <p class="grid-contents">{{ primary.pr.title }}</p>
  </div>
  <div class="grid-item">
    <h2 class="grid-header">Details</h2>
    <p class="grid-contents"><b>Author:</b> <a target="_blank" href="https://github.com/{{ primary.pr.user.login }}">@{{ primary.pr.user.login
        }}</a> <b>Time:</b> {{ formattedDate primary.pr.merged_at }} <b>PR: </b> <a target="_blank" href="{{primary.pr.html_url}}">#{{
          primary.pr.number}}</a></p>
  </div>
  <div class="grid-item">
    <h2 class="grid-header">PR Information</h2>
    <div id="grid-pr-body">{{{markdown primary.pr.body}}}</div>
  </div>
  <div class="grid-item">
    <h2 class="grid-header">Release</h2>
    <p class="grid-contents">
      {{#if availableIn}}
        <a href="/release/{{primary.availableIn.version}}">{{primary.availableIn.version}}</a>
      {{else}}
        This PR has not been released.
      {{/if}}
    </p>
  </div>
  <div class="grid-item">
    <h2 class="grid-header">Backports</h2>
    <div style="display: grid; grid-template-columns: repeat({{backports.length}}, 1fr); grid-gap: 20px;">
      {{#each backports}}
      <div class="grid-sub-item">
        <h3>{{ targetBranch }}</h3>
        <p class="grid-contents"><a href="{{ pr.html_url }}">#{{ pr.number }}</a></p>
        <p class="grid-contents">
          {{#if availableIn}}
            <a href="/release/v{{availableIn.version}}">v{{availableIn.version}}</a>
          {{else}}
            Not Yet Released
          {{/if}}
        </p>
      </div>
      {{/each}}
    </div>
  </div>
</div>
