<div class="tree">
  <canvas id="connectors"></canvas>
  <div class="primary">
    <div class="primary-cell">
      <span>Title: {{ primary.pr.title }}</span>
      <span>Original PR: <a href="{{ primary.pr.html_url }}">#{{ primary.pr.number }}</a></span>
      <span>Author: <a href="https://github.com/{{ primary.pr.user.login }}">{{ primary.pr.user.login }}</a></span>
      <span>Merged On: {{ formattedDate primary.pr.merged_at }}</span>

      {{#if primary.availableIn}}
      <span>Released: <a href="/release/{{primary.availableIn.version}}">{{primary.availableIn.version}}</a></span>
      {{/if}}
    </div>
  </div>
  <div class="backports">
    {{#each backports}}
      <div class="backport backport-{{ state }}">
        <div class="backport-cell">
          <h4>{{ targetBranch }}</h4>

          {{#if pr}}
          <span>Backport PR: <a href="{{ pr.html_url }}">#{{ pr.number }}</a></span>
          {{/if}}

          {{#if availableIn}}
          <span>Released: <a href="/release/{{availableIn.version}}" >{{availableIn.version}}</a></span>
          {{/if}}
        </div>
      </div>
    {{/each}}
  </div>
</div>