<div class="releases">
  <div>
  <div class="releases__filter-container">
    <strong>Filter by channel</strong>
    <div class="release-channel-selector-container">
      <a class="releases__filter-link" href="/releases/stable?version={{major}}">
        <div class="releases__filter {{#ifEquals channel "stable"}} releases__filter--selected{{/ifEquals}}">
          <span class="releases__filter-name"><i class="fas fa-clock"></i>&nbsp;Stable</span>
          <p class="releases__filter-description">Regular, supported releases</p>
        </div>
      </a>
      <a  class="releases__filter-link" href="/releases/prerelease?version={{major}}">
        <div class="releases__filter {{#ifEquals channel "prerelease"}} releases__filter--selected{{/ifEquals}}">
          <span class="releases__filter-name"><i class="fas fa-flask"></i>&nbsp;Prerelease</span>
          <p class="releases__filter-description">Test upcoming changes</p>
        </div>
      </a>
      <a class="releases__filter-link" href="/releases/nightly?version={{major}}">
        <div class="releases__filter {{#ifEquals channel "nightly"}} releases__filter--selected{{/ifEquals}}">
          <span class="releases__filter-name"><i class="fas fa-calendar"></i>&nbsp;Nightly</span>
          <p class="releases__filter-description">Experiment with the latest features</p>
        </div>
      </a>
    </div>
    <div class="release-sort-container">
      <strong>Sort by date</strong>
      <select id="sort-select" onchange="updateFilters()">
        <option value="newest" {{#ifEquals sort "newest"}}selected{{/ifEquals}}>Newest First</option>
        <option value="oldest" {{#ifEquals sort "oldest"}}selected{{/ifEquals}}>Oldest First</option>
      </select>
    </div>

    <strong>Filter by major release</strong>
    <div class="release-version-selector-container">
      <select id="version-select" onchange="showSelectedVersion()">
        <option value="All">All</option>
        {{#each majors}}
        <option value="{{this}}" {{#ifEquals this ../major}}selected{{/ifEquals}}>{{this}}.x</option>
        {{/each}}
      </select>
    </div>
  </div>
  </div>
  <div class="releases__list">
    {{#each releases}}
      <article class="release-card">
        {{{markdown this.body}}}
        {{> metadata this}}
      </article>
    {{/each}}
  </div>
</div>

<script>
  function showSelectedVersion() {
    const { value: version } = document.getElementById("version-select");
    window.location.search = version === 'All' ? '' : `version=${version}`;
  }

  function updateFilters() {
    const version = document.getElementById("version-select").value;
    const sort = document.getElementById("sort-select").value;
    const query = new URLSearchParams();

    if (version !== 'All') query.set("version", version);
    query.set("sort", sort);

    const path = window.location.pathname; // keep the same channel path
    window.location.href = `${path}?${query.toString()}`;
  }


</script>

{{{paginate this.pages this.page this.prev this.next this.first this.last}}}
